  <!-- Extend the base -->
{% extends 'base.html' %}

  <!-- Repeat block name in base.html -->
{% block content %}
<div class="container">
  <!-- Loop through Blog -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Categorie</th>
        <th scope="col">Contenu</th>
      </tr>
    </thead>
    <tbody>  
      {% for blog in object_list %}
      <tr>
        <td>{{ blog.title }}</td>
        <td>{{ blog.category }}</td>
        <td>{{ blog.content }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{%endblock %}